/* styling for page */
body {
  background: #fff;
  font-family: 'CircularStd-Black';
  margin: 0;
  max-width: 100%;
  will-change: background;
  -webkit-transition: background  1.5s;
  -o-transition: background  1.5s;
  overflow-x: hidden; /* for homepage text, as it's off-screen */
}

/* smoothes out the scrolling on certain broswers */
html {
  scroll-behavior: smooth;
}

/* import custom font */
@font-face {
  font-family: 'CircularStd-Black';
  src: url('../fonts/CircularStd-Black.eot'); /* IE9 Compat Modes */
  src: url('../fonts/CircularStd-Black.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/CircularStd-Black.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/CircularStd-Black.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/CircularStd-Black.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/CircularStd-Black.svg#svgFontName') format('svg'); /* Legacy iOS */
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'CircularStd-Book';
  src: url('../fonts/CircularStd-Book.eot'); /* IE9 Compat Modes */
  src: url('../fonts/CircularStd-Book.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/CircularStd-Book.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/CircularStd-Book.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/CircularStd-Book.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/CircularStd-Book.svg#svgFontName') format('svg'); /* Legacy iOS */
  font-weight: 400;
  font-style: normal;
}

/* font styles */
h1 {
  font-size: 350px;
  color: #000;
  margin-top: -100px;
  margin-bottom: 0px;
}
h2 {
  font-size: 200px;
  text-align: center;
  margin-top: 0px;
}
h3 {
  font-size: 54px;
  color: #FFF;
  margin-bottom: 0px;
}
h4 {
  font-size: 54px;
  color: #FFF;
  margin-bottom: 0px;
  margin-top: 160px;
  padding-bottom: 20px;
}
h5 {
  font-family: 'CircularStd-Book';
  font-size: 54px;
  font-weight: lighter;
  color: #FFF;
  margin-top: 0px;
  }
h6 {
  font-size: 32px;
  color: #FFF900;
}
p {
  font-family: 'CircularStd-Book';
  font-size: 32px;
  line-height: 42px;
  font-weight: lighter;
  color: #fff;
}

/* size of text on viewport */
.header {
  margin-top: -140px;
  height: 100vh;
  width: 200vw;
}

/* text for intro */
.top-title,
.bottom-title {
  text-transform: uppercase;
  margin-top: -140px;
}

.top-title {
  margin-left: -300px;
}

.bottom-title {
  margin-left: -2800px;
}

/* styling for text links */
a {
  font-family: 'CircularStd-Book';
  font-size: 32px;
  font-weight: lighter;
  color: #00FFC9;
  text-decoration: none;
}
a:hover {
  color: black;
  background-color: #00FFC9;
}

/* makes cv text indented */
.cv-text {
  width: 55%;
  padding-top: 5%;
  padding-left: 13%;
  padding-bottom: 5%;
}

/* specific class for email on a tag */
.mail-text {
  font-size: 32px;
  color: #FFF900;
}
.mail-text:hover {
  color: black;
  background-color: #FFF900;
}

/* makes button sticky after scroll */
.sticky-button-portfolio {
  position: fixed;
  top: 100px;
  right: 100px;
}
.sticky-button-cv {
  position: fixed;
  top: 100px;
  right: 100px;
  z-index: 1;
}

/* styling for portfolio button */
.button-portfolio {
  height: 72px;
  font-family: 'CircularStd-Black';
  font-size: 24px;
  color: #000;
  background: #fff;
  border-radius: 100px;
  width: 200px;
  cursor: pointer;
  border-width: 0px;
  border-color: #fff;

  transition: color 0.3s ease; /* vendorless fallback */
  -o-transition: color 0.3s ease; /* opera */
  -ms-transition: color 0.3s ease; /* IE 10 */
  -moz-transition: color 0.3s ease; /* Firefox */
  -webkit-transition: color 0.3s ease; /*safari and chrome */

  transition: background 0.3s ease; /* vendorless fallback */
  -o-transition: background 0.3s ease; /* opera */
  -ms-transition: background 0.3s ease; /* IE 10 */
  -moz-transition: background 0.3s ease; /* Firefox */
  -webkit-transition: background 0.3s ease; /*safari and chrome */
}
.button-portfolio:hover {
  background: #00FFC9;
}
.button-portfolio:focus {
  outline: 0px;
  border-color: #fff;
}

/* styling for cv button */
.button-cv {
  height: 72px;
  font-family: 'CircularStd-Black';
  font-size: 24px;
  color: #001991;
  background: #fff;
  border-radius: 100px;
  width: 250px;
  cursor: pointer;
  border-width: 0px;
  border-color: #fff;

  transition: color 0.3s ease; /* vendorless fallback */
  -o-transition: color 0.3s ease; /* opera */
  -ms-transition: color 0.3s ease; /* IE 10 */
  -moz-transition: color 0.3s ease; /* Firefox */
  -webkit-transition: color 0.3s ease; /*safari and chrome */

  transition: background 0.3s ease; /* vendorless fallback */
  -o-transition: background 0.3s ease; /* opera */
  -ms-transition: background 0.3s ease; /* IE 10 */
  -moz-transition: background 0.3s ease; /* Firefox */
  -webkit-transition: background 0.3s ease; /*safari and chrome */
}
.button-cv:hover {
  background: #001991;
  color: #fff;
}
.button-cv:focus {
  outline: 0px;
  border-color: #fff;
}


/* specific padding for when 2 text elements next to one another */
.text-block {
  padding-top: 40px;
  padding-bottom: 10px;
}

/* over-rides body styling */
.cv {
  background: #000;
}

/* centres images */
.home-img {
  width: 80%;
  display: block;
  margin: auto;
  position: relative;
}

/* full width quickr image */
.quickr-img {
  width: 100%;
  padding-top: 40px;
  position: relative;
}

/* text styles for sections */
.listen-title {
  color: #001991;
  margin-top: -150px;
}
.barclays-title {
  color: #00FFC9;
  margin-top: -100px;
}
.c4-title {
  color: #FF004F;
  margin-top: -120px;
}
.quickr-title {
  color: #DEFF00;
  margin-top: -175px;
}
.commute-title {
  color: #450077;
  margin-top: -75px;
}

/* makes counter invisible */
#count {
  display: none;
}

#div2 {
  margin-top: -200px;
  padding-top: 400px;
}
