/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/* styling for page */
body {
  background: #fff;
  font-family: 'CircularStd-Black';
  margin: 0;
  will-change: background;
  -webkit-transition: background  1.5s;
  -o-transition: background  1.5s;
  max-width: 100vw;
  overflow-x: hidden; /* for homepage text, as it's off-screen */
}

/* changes background */
.cv-body {
  background: black;
}

/* smoothes out the scrolling on certain broswers */
html {
  scroll-behavior: smooth;
}

/* import custom font */
@font-face {
  font-family: 'CircularStd-Black';
  src: url('../fonts/CircularStd-Black.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/CircularStd-Black.woff') format('woff'); /* Pretty Modern Browsers */
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'CircularStd-Book';
  src: url('../fonts/CircularStd-Book.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/CircularStd-Book.woff') format('woff'); /* Pretty Modern Browsers */
  font-weight: 400;
  font-style: normal;
}

/* header styles */
h1 {
  font-size: 350px;
  color: #000;
  margin-top: -100px;
  margin-bottom: 0px;
}
h2 {
  font-size: 200px;
  text-align: center;
  margin-top: 0px;
}
h3 {
  font-size: 54px;
  color: #FFF;
  margin-bottom: 0px;
}
h4 {
  font-size: 54px;
  color: #FFF;
  margin-bottom: 0px;
  margin-top: 160px;
  padding-bottom: 20px;
}
h5 {
  font-family: 'CircularStd-Book';
  font-size: 54px;
  font-weight: lighter;
  color: #FFF;
  margin-top: 0;
  margin-bottom: 0;
  }
h6 {
  font-size: 32px;
  color: #FFF900;
}
p {
  font-family: 'CircularStd-Book';
  font-size: 32px;
  line-height: 42px;
  font-weight: lighter;
  color: #fff;
}

/* link styles */
a {
  color: #00FFC9;
  text-decoration: none;
}
a:hover {
  color: black;
  background-color: #00FFC9;
}

/* size of intro text on viewport */
.header {
  margin-top: -140px;
  height: 100vh;
  width: 200vw;
}

/* both texts for intro */
.top-title,
.bottom-title {
  text-transform: uppercase;
  margin-top: -140px;
  white-space: nowrap;
}

/* specific to first line of intro */
.top-title {
  margin-left: -300px;
}

/* specific to second line of intro */
.bottom-title {
  margin-left: -2800px;
}

/* makes cv text indented */
.cv-text {
  width: 55%;
  padding-top: 5%;
  padding-left: 13%;
  padding-bottom: 5%;
}

/* specific padding for when 2 text elements next to one another */
.text-block {
  padding-top: 40px;
  padding-bottom: 10px;
}

/* specific class for email on a tag */
.mail-text {
  color: #FFF900;
}
.mail-text:hover {
  color: black;
  background-color: #FFF900;
}

/* makes button sticky after scroll */
.sticky-button-portfolio {
  position: fixed;
  top: 100px;
  right: 50px;
}
.sticky-button-cv {
  position: fixed;
  top: 100px;
  right: 50px;
  z-index: 1;
}

/* styling for portfolio button */
.button-portfolio {
  height: 72px;
  font-family: inherit;
  font-size: 24px;
  color: #000;
  background: #fff;
  border-radius: 100px;
  width: 250px;
  cursor: pointer;
  border: 0;

  transition: color 0.3s ease; /* vendorless fallback */
  -o-transition: color 0.3s ease; /* opera */
  -ms-transition: color 0.3s ease; /* IE 10 */
  -moz-transition: color 0.3s ease; /* Firefox */
  -webkit-transition: color 0.3s ease; /*safari and chrome */

  transition: background 0.3s ease; /* vendorless fallback */
  -o-transition: background 0.3s ease; /* opera */
  -ms-transition: background 0.3s ease; /* IE 10 */
  -moz-transition: background 0.3s ease; /* Firefox */
  -webkit-transition: background 0.3s ease; /*safari and chrome */
}
.button-portfolio:hover {
  background: #00FFC9;
}
.button-portfolio:focus {
  outline: 0;
}

/* styling for cv button */
.button-cv {
  height: 72px;
  font-family: inherit;
  font-size: 24px;
  color: #001991;
  background: #fff;
  border-radius: 100px;
  width: 250px;
  cursor: pointer;
  border:0;

  transition: color 0.3s ease; /* vendorless fallback */
  -o-transition: color 0.3s ease; /* opera */
  -ms-transition: color 0.3s ease; /* IE 10 */
  -moz-transition: color 0.3s ease; /* Firefox */
  -webkit-transition: color 0.3s ease; /*safari and chrome */

  transition: background 0.3s ease; /* vendorless fallback */
  -o-transition: background 0.3s ease; /* opera */
  -ms-transition: background 0.3s ease; /* IE 10 */
  -moz-transition: background 0.3s ease; /* Firefox */
  -webkit-transition: background 0.3s ease; /*safari and chrome */
}
.button-cv:hover {
  background: #001991;
  color: #fff;
}
.button-cv:focus {
  outline: 0;
}

/* over-rides body styling */
.cv {
  background: #000;
}

/* centres images */
.home-img {
  width: 80%;
  position: relative;
}

/* full width image */
.fullwidth-img {
  width: 100%;
  position: relative;
}

/* text styles for sections */
.listen-title {
  color: #001991;
  margin-top: -150px;
}
.barclays-title {
  color: #55E5EF;
  margin-top: -100px;
}
.c4-title {
  color: #FF004F;
  margin-top: -80px;
}
.quickr-title {
  color: #450077;
  margin-top: -175px;
}
.whodat-title {
  color: #FFFB00;
  margin-top: -75px;
}

/* makes counter invisible */
#count {
  display: none;
}

/* pushes project 1 down out of vh */
#div2 {
  margin-top: -200px;
  padding-top: 400px;
}

/* styles for 0 - 640 */
@media only screen and (max-width: 640px) {

  /* header styles */
  h1 {
      font-size: 200px;
    }
  h2 {
      font-size: 72px;
    }
  h3 {
      font-size: 32px;
    }
  h4 {
      font-size: 32px;
      margin-top: 0;
      padding-bottom: 10px;
    }
  h5 {
      font-size: 18px;
      line-height: 32px;
      margin-bottom: 40px;
    }

  /* link styles */
  p {
      font-size: 18px;
      line-height: 32px;
    }
  a {
    font-size: 18px;
  }

  /* makes cv text indented */
  .cv-text {
    width: 80%;
    padding-top: 5%;
    padding-left: 10%;
    padding-bottom: 5%;
  }

  /* specific padding for when 2 text elements next to one another */
  .text-block {
    padding-top: 0;
    padding-bottom: 10px;
  }

  /* text for intro */
  .top-title,
  .bottom-title {
      text-transform: uppercase;
      margin-top: -60px;
    }

  .bottom-title {
      margin-left: -1200px;
    }

  /* size of text on viewport */
  .header {
      margin-top: -80px;
      width: 150vw;
    }

  /* makes button sticky after scroll */
  .sticky-button-portfolio {
    top: 20px;
    right: 20px;
    }

  .sticky-button-cv {
  top: 20px;
  right: 20px;
  }


  /* makes image 90% */
  .home-img {
      width: 90%;
    }

  /* text styles for sections */
  .listen-title {
      margin-top: -60px;
    }
  .barclays-title {
      margin-top: -40px;
    }
  .quickr-title {
      margin-top: -55px;
    }
  .whodat-title {
      margin-top: -40px;
    }

  /* pushes project 1 down out of vh */
  #div2 {
      margin-top: -50px;
      padding-top: 0;
    }
 }
